@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.paragraph {
  padding-top: 2%;
  padding-left: 20%;
  padding-right: 30%;
  font-size: 80%;
  font-family: "Poppins", sans-serif;
  color: white;
}

.rowC {
  display: flex;
  flex-direction: row;
}
.icon {
  position: absolute;
  left: 50px;
  bottom: 5%;
}
.input {
  font-family: "Poppins", sans-serif;
}
.form {
  padding-bottom: 10%;
}
